@charset "UTF-8";



/*CONTEUDO PRINCIPAL*********/
body{
    font:  16px 'Work sans';
}

h1{
    font-family: 'kaushan script';
}

h2{
    font-family: 'kaushan script';
}

/*PARTE DE NAVEGAÇÃO ************/

